results/*
!results/README.md

.snakemake

logs/*
!logs/README.md

resources/blastDB/*
!resources/blastDB/README.md
resources/proteomes/*
!resources/proteomes/README.md
resources/proteinSeqs/*
!resources/proteinSeqs/README.md
resources/pfamDB/*
!resources/pfamDB/README.md

workflows/scripts/__pycache__

report/*
!report/README.md